<!DOCTYPE html>
<html lang="en">
    <%-include('./partials/head.ejs')%>
<body>

    <%-include('./partials/nev.ejs')%>

    <h1>Oops error 404</h1>

    <%-include('./partials/footer.ejs') %>
</body>
</html>